/* CSS declarations go here */

@font-face {
  font-family: 'Uni Sans';
  font-weight: 100;
  src: url('/fonts/unisansfree/Uni Sans Thin.otf');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: 700;
  src: url('/fonts/unisansfree/Uni Sans Heavy.otf');
}

.red{
	color: rgb(189, 84, 84);
}

#map-canvas { width: 400px; height: 400px; margin: 0; padding: 0;}


.questionCont {
	font-weight: 700;
	width: 12em;
	background-color: #fff;
	padding: 1em;
	border-radius: 15px;
	font-size: 60px;
	color: #303030;
	margin-bottom: 1.5em;
  	-webkit-box-shadow: 0 0 100px rgba(0,0,0,.5);
}

.questionBtn {
	font-weight: 100;
	text-align: center;
	background-color: #696969;
	font-size: 25px;
	color: #fff;
	margin-left: 80%;
	margin-bottom: 0;
	border-radius: 7px;
	border-bottom: #303030 2px solid;
}

.questionBtn:hover {
	cursor: pointer;
}

.topPart {
	font-weight: 700;
	padding: 20vw;
	background-color: #333;
  	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  	width: 100%;

}

.timeline {
	float: left;
	margin-left: 20%;
	margin-right: 5%;
}

.line1 {
	background-color: #fff;
	width: 2px;
	height: 400px;
	margin-top: 50px;
  	-webkit-box-shadow: 0 0 50px rgba(0,0,0,.5);
}

.line2 {
	background-color: #fff;
	width: 2px;
	height: 350px;
  	-webkit-box-shadow: 0 0 50px rgba(0,0,0,.5);
}

.circle1 {
	background-color: #fff;
	width: 15px;
	height: 15px;
	margin-left: -7px;
	margin-bottom: -52px;
	border-radius: 15px;
}

.circle {
	background-color: #fff;
	width: 15px;
	height: 15px;
	margin-left: -7px;
	margin-top: -2px;
	border-radius: 15px;
}


.contOfQuestions {
	float: right;
	margin-right: 24%;
	width: 700px;
	margin-top: -70px;
}

.title {
	color: #fff;
	font-size: 20px;
	margin-left: -29px;
	font-weight: 700;
	width: 70px;
	margin-bottom: -15px;
}