/* CSS declarations go here */

@font-face {
  font-family: 'Uni Sans';
  font-weight: 100;
  src: url('/fonts/unisansfree/Uni Sans Thin.otf');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: 700;
  src: url('/fonts/unisansfree/Uni Sans Heavy.otf');
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeue.otf');
}

.red{
	color: rgb(189, 84, 84);
}

#map-canvas { 
	width: 55%;
	height: 400px;
	position: absolute;
	top: 90px;
	left: 0px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	border-top: 7px solid green;
}

#postRoute{
	margin-left:265px;
}

.itinerary{
	width: 40%;
	position:absolute;
	right: 0px;
	top: 90px;
	height: 400px;
	background-color: rgb(252, 252, 252);;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	border-top: 7px solid purple;
	color: rgb(94, 88, 88);
}

.iteneraryGroup p{
	float: left;
}

.iteneraryGroup{
	float: left;
	width: 100%;
}

body{
	text-shadow:none;
}

.timeGroup{
	font-size: 37pt;
	float: left;
	margin-left: 112px;
	color: rgb(47, 104, 129);
}

.costGroup{
	font-size: 37pt;
	float: right;
	margin-right: 112px;
	color: rgb(47, 104, 129);
}

.buttonGroups .btn-primary{
	margin-right: 25px;
}

.finishEmail{
	width: 40%;
	position:absolute;
	right: -1000px;
	top: 90px;
	height: 400px;
	background-color: rgb(252, 252, 252);;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	border-top: 7px solid purple;
	color: rgb(94, 88, 88);
	display: none;
}
.finishUpGroup{
	padding:20px;
}

.sendButton{
	font-size:20pt;
	margin-top:60px;
}

.finishUpGroup div{
	margin-top:10px;
}

.questionCont {
	font-weight: 700;
	width: 12em;
	background-color: #fff;
	padding: 1em;
	border-radius: 15px;
	font-size: 60px;
	color: #303030;
	margin-bottom: 1.5em;
	border-bottom: #bebebe 5px solid;
}

.questionBtn {
	font-weight: 100;
	width: 350px;
	text-align: center;
	background-color: #fff;
	font-size: 60px;
	color: #303030;
	margin-left: 25%;
	margin-bottom: 100px;
	border-radius: 7px;
	border-bottom: #bebebe 2px solid;
}

.questionBtn:hover {
	cursor: pointer;
}

.topPart {
	font-weight: 700;
	padding: 20vw;
	background-color: #333;
  	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  	width: 100%;

}

.timeline {
	float: left;
	margin-left: 20%;
	margin-right: 5%;
}

.line1 {
	background-color: #fff;
	width: 2px;
	height: 400px;
	margin-top: 50px;
}

.line2 {
	background-color: #fff;
	width: 2px;
	height: 350px;
}

.circle1 {
	background-color: #fff;
	width: 15px;
	height: 15px;
	margin-left: -7px;
	margin-bottom: -52px;
	border-radius: 15px;
}

.circle {
	background-color: #fff;
	width: 15px;
	height: 15px;
	margin-left: -7px;
	margin-top: -2px;
	border-radius: 15px;
}


.contOfQuestions {
	float: right;
	margin-right: 24%;
	width: 700px;
	margin-top: -70px;
}

.title {
	color: rgba(255, 255, 255, 0.6);
	font-size: 20px;
	margin-left: -29px;
	font-weight: 700;
	width: 70px;
	margin-bottom: -15px;
}