/* CSS declarations go here */

@font-face {
  font-family: 'Uni Sans';
  font-weight: 100;
  src: url('/fonts/unisansfree/Uni Sans Thin.otf');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: 700;
  src: url('/fonts/unisansfree/Uni Sans Heavy.otf');
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeue.otf');
}

.red{
	color: rgb(189, 84, 84);
}


#map-canvas { 
	width: 77%;
	height: 400px;
	position: absolute;
	top: 65px;
	left: 13em;
	border-radius: 15px;
	border-bottom: #95a5a4 5px solid;
}

#postRoute{
	margin-left:265px;
}

.itinerary{
	width: 55%;
	margin-top: 430px;
	left: 23em;
	position: relative;
	height: 400px;
	background-color: #706585;
	border-radius: 15px;
	border-bottom: #95a5a4 5px solid;
	color: #fff;
}

.itinerary h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	border-bottom: #fff 4px dashed;
}

.iteneraryGroup p{
	text-align: left;
	padding-right: 30px;
	padding-top: 10px;
}

.iteneraryGroup{
	text-align: left;
	padding-left: 30px;
	padding-top: 10px;
}

body{
	text-shadow:none;
}

.timeGroup{
	font-size: 37pt;
	text-align: left;
	margin-left: 112px;
	color: #fff;	
}

span .smaller{
	font-size: : 25pt !important; 
	font-weight: 700;
}

/* color: rgb(47, 104, 129); */

.costGroup{
	font-size: 37pt;
	float: right;
	margin-right: 112px;
	color: #fff;
}

.buttonGroups .btn-primary{
	margin-right: 25px;
	float: right;
	margin-top: -200px;
}

.btn-success {
	float: left;
	margin-left: 50px;
	margin-top: -200px;
}

.finishEmail{
	width: 40%;
	position:absolute;
	right: -1000px;
	top: 90px;
	height: 400px;
	background-color: rgb(252, 252, 252);;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 1px -5px rgba(0,0,0,0.75);
	border-top: 7px solid purple;
	color: rgb(94, 88, 88);
	display: none;
}
.finishUpGroup{
	padding:20px;
}

.sendButton{
	font-size:20pt;
	margin-top:60px;
}

.finishUpGroup div{
	margin-top:10px;
}

.questionCont {
	font-weight: 700;
	width: 12em;
	background-color: #E24D42;
	padding: 1em;
	border-radius: 15px;
	font-size: 60px;
	color: #fff;
	margin-bottom: 1.5em;
	border-bottom: #EB8076 5px solid;
}

.questionBtn {
	position: absolute;
	top: 2450px;
	font-weight: 100;
	width: 350px;
	text-align: center;
	background-color: #fff;
	font-size: 60px;
	color: #303030;
	margin-left: 31%;
	margin-bottom: 200px;
	border-radius: 7px;
	border-bottom: #EB8076 3px solid;
}

.questionBtn:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
}

.topPart {
	font-weight: 700;
	padding: 20vw;
	background-color: #333;
  	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  	width: 100%;

}

.timeline {
	float: left;
	margin-left: 12%;
	margin-right: 5%;
}

.line1 {
	background-color: #706585;
	width: 4px;
	height: 400px;
	margin-top: 50px;
}

.line2 {
	background-color: #706585;
	width: 4px;
	height: 350px;
}

.line3 {
	background-color: #706585;
	width: 4px;
	height: 450px;
}

.circle1 {
	background-color: #706585;
	width: 20px;
	height: 20px;
	margin-left: -9px;
	margin-top: 45px;
	margin-bottom: -52px;
	border-radius: 15px;
}

.circle {
	background-color: #706585;
	width: 20px;
	height: 20px;
	margin-left: -9px;
	margin-top: -2px;
	border-radius: 15px;
}


.contOfQuestions {
	float: left;
	width: 700px;
	margin-top: -70px;
}

.kanyeCont {
	float: right;
}

.kanyeImg1 {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/img/kanye1.png');
	width: 325px;
	height: 325px;
	margin-bottom: 3em;
	margin-right: 50px;
}

.kanyeImg2 {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/img/kanye2.png');
	width: 325px;
	height: 325px;
	margin-bottom: 5em;
	margin-right: 50px;
}

.kanyeImg3 {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/img/kanye3.png');
	width: 325px;
	height: 325px;
	margin-bottom: 7em;
	margin-right: 50px;
}

.kanyeImg4 {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/img/kanye4.png');
	width: 325px;
	height: 325px;
	margin-bottom: 1.5em;
	margin-right: 50px;
}

.title {
	color: #706585;
	font-size: 20px;
	margin-left: -29px;
	font-weight: 700;
	width: 70px;
	margin-bottom: -15px;
}

.bottomPhrase {
	position: absolute;
	top: 2717px;
	width: 200px;
	margin-left: calc(50% - 100px);
	color: #706585;
	font-weight: 700;
}